@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

html,
body {
  font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: black;
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background: url('https://res.cloudinary.com/jenn-dev/image/upload/w_auto,f_auto/v1555715928/bg_hvvvxh.png')
    no-repeat center center fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

h4 {
  line-height: 2rem;
  margin: 0;
}

p {
  margin: 1rem auto;
  background: #a94442;
  width: 200px;
  color: white;
}

button {
  background: #fdca4a;
  color: white;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 18pt;
}

button:hover {
  color: white;
  background: #ff1918;
}

form {
  margin: 0 auto;
  text-align: center;
}

form > input {
  border: 0;
  padding: 0.8rem;
  margin: 0 0.5rem;
}

form > button {
  font-size: 12pt;
  padding: 0.8rem 1rem;
}

.header {
  text-align: center;
}

.movies {
  margin: 1.5rem auto;
  text-align: center;
}

.gifArea {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem;
}
